<div class="crear-reporte">
  <h2>Crear Informe</h2>
  
  <form (ngSubmit)="guardarInforme()">
    <div>
      <label for="imagen">Imagen del Equipo:</label>
      <button type="button" (click)="takePicture()">Tomar Foto</button>
    </div>
    
    <div>
      <label for="idEquipo">ID del Equipo:</label>
      <input type="text" [(ngModel)]="idEquipo" name="idEquipo" required />
    </div>
    
    <div>
      <label for="descripcion">Descripción del Problema:</label>
      <textarea [(ngModel)]="descripcion" name="descripcion" required></textarea>
    </div>
    
    <button type="submit">Guardar Informe</button>
  </form>

  <div *ngIf="imagen">
    <h3>Vista Previa de la Imagen:</h3>
    <img [src]="imagen" alt="Vista Previa" style="max-width: 100%; height: auto;" />
  </div>

  
  <ul>
    <li *ngFor="let reporte of reportes">
      <strong>ID:</strong> {{ reporte.idEquipo }} <br />
      <strong>Descripción:</strong> {{ reporte.descripcion }} <br />
      <img [src]="reporte.imagen" alt="Reporte Imagen" style="max-width: 100px; height: auto;" />
    </li>
  </ul>
</div>  