<button (click)="toggleSidebar()" class="toggle-button">Toggle Menu</button>

<div class="container">
  <div class="sidebar" [class.hidden]="isSidebarHidden">
    <button (click)="toggleSidebar()" class="close-button">Cerrar</button>
    <nav>
      <a routerLink="/crear-reporte" routerLinkActive="active" class="sidebar-button">Crear Reporte</a>
      <a routerLink="/reportes" routerLinkActive="active" class="sidebar-button">Lista de Reportes</a>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet> <!-- Asegúrate de que solo haya un router-outlet -->
  </div>
</div>